In [1]:
import pandas as pd
from datetime import datetime
from datetime import datetime
from decimal import Decimal

from strat_backtest.base.gen_trades import GenTrades, TradingConfig, RiskConfig

In [3]:
df = pd.read_parquet("../data/AAPL.parquet")
df

           Ticker    Open    High     Low   Close       Volume
Date
2020-01-02   AAPL   71.72   72.78   71.47   72.72  135480400.0
2020-01-03   AAPL   71.94   72.77   71.78   72.01  146322800.0
2020-01-06   AAPL   71.13   72.62   70.88   72.58  118387200.0
2020-01-07   AAPL   72.59   72.85   72.02   72.24  108872000.0
2020-01-08   AAPL   71.94   73.71   71.94   73.40  132079200.0
...           ...     ...     ...     ...     ...          ...
2025-05-09   AAPL  198.74  200.28  197.28  198.27   36453900.0
2025-05-12   AAPL  210.97  211.27  206.75  210.79   63775800.0
2025-05-13   AAPL  210.43  213.40  209.00  212.93   51909300.0
2025-05-14   AAPL  212.43  213.94  210.58  212.33   49325800.0
2025-05-15   AAPL  210.95  212.96  209.54  211.45   44979900.0

[1350 rows x 6 columns]

In [4]:
df.loc["2025-03-01":, :]

           Ticker    Open    High     Low   Close       Volume
Date
2025-03-03   AAPL  241.79  244.03  236.11  238.03   47184000.0
2025-03-04   AAPL  237.71  240.07  234.68  235.93   53798100.0
2025-03-05   AAPL  235.42  236.55  229.23  235.74   47227600.0
2025-03-06   AAPL  234.44  237.86  233.16  235.33   45170400.0
2025-03-07   AAPL  235.11  241.37  234.76  239.07   46273600.0
2025-03-10   AAPL  235.54  236.16  224.22  227.48   72071200.0
2025-03-11   AAPL  223.81  225.84  217.45  220.84   76137400.0
2025-03-12   AAPL  220.14  221.75  214.91  216.98   62547500.0
2025-03-13   AAPL  215.95  216.84  208.42  209.68   61368300.0
2025-03-14   AAPL  211.25  213.95  209.58  213.49   60107600.0
2025-03-17   AAPL  213.31  215.22  209.97  214.00   48073400.0
2025-03-18   AAPL  214.16  215.15  211.49  212.69   42432400.0
2025-03-19   AAPL  214.22  218.76  213.75  215.24   54385400.0
2025-03-20   AAPL  213.99  217.49  212.22  214.10   48862900.0
2025-03-21   AAPL  211.56  218.84  211.28  218.27   94127800.0
2025-03-24   AAPL  221.00  221.48  218.58  220.73   44299500.0
2025-03-25   AAPL  220.77  224.10  220.08  223.75   34493600.0
2025-03-26   AAPL  223.51  225.02  220.47  221.53   34532700.0
2025-03-27   AAPL  221.39  224.99  220.56  223.85   37094800.0
2025-03-28   AAPL  221.67  223.81  217.68  217.90   39818600.0
2025-03-31   AAPL  217.01  225.62  216.23  222.13   65299300.0
2025-04-01   AAPL  219.81  223.68  218.90  223.19   36412700.0
2025-04-02   AAPL  221.32  225.19  221.02  223.89   35905900.0
2025-04-03   AAPL  205.54  207.49  201.25  203.19  103419000.0
2025-04-04   AAPL  193.64  199.62  187.09  188.13  125910900.0
2025-04-07   AAPL  176.97  193.90  174.39  181.22  160466300.0
2025-04-08   AAPL  186.46  190.09  168.99  172.19  120859500.0
2025-04-09   AAPL  171.72  200.35  171.66  198.59  184395900.0
2025-04-10   AAPL  188.82  194.52  182.76  190.17  121880000.0
2025-04-11   AAPL  185.86  199.28  185.82  197.89   87435900.0
2025-04-14   AAPL  211.16  212.66  200.90  202.25  101352900.0
2025-04-15   AAPL  201.60  203.24  199.54  201.88   51343900.0
2025-04-16   AAPL  198.10  200.44  192.12  194.02   59732400.0
2025-04-17   AAPL  196.94  198.57  194.17  196.72   51334300.0
2025-04-21   AAPL  193.02  193.55  189.56  192.91   46742500.0
2025-04-22   AAPL  195.86  201.33  195.71  199.48   52976400.0
2025-04-23   AAPL  205.73  207.73  202.53  204.33   52929200.0
2025-04-24   AAPL  204.62  208.56  202.67  208.10   47311000.0
2025-04-25   AAPL  206.10  209.48  205.93  209.01   38222300.0
2025-04-28   AAPL  209.72  211.22  207.19  209.86   38743100.0
2025-04-29   AAPL  208.42  211.96  208.10  210.93   36827600.0
2025-04-30   AAPL  209.03  213.30  206.40  212.22   52286500.0
2025-05-01   AAPL  208.81  214.28  208.63  213.04   57365700.0
2025-05-02   AAPL  205.82  206.72  201.90  205.08  101010600.0
2025-05-05   AAPL  202.83  203.83  197.95  198.63   69018500.0
2025-05-06   AAPL  197.95  200.39  196.76  198.25   51216500.0
2025-05-07   AAPL  198.91  199.18  193.00  195.99   68536700.0
2025-05-08   AAPL  197.46  199.79  194.43  197.23   50478900.0
2025-05-09   AAPL  198.74  200.28  197.28  198.27   36453900.0
2025-05-12   AAPL  210.97  211.27  206.75  210.79   63775800.0
2025-05-13   AAPL  210.43  213.40  209.00  212.93   51909300.0
2025-05-14   AAPL  212.43  213.94  210.58  212.33   49325800.0
2025-05-15   AAPL  210.95  212.96  209.54  211.45   44979900.0

In [5]:
df1 = df.loc["2025-04-01":, :].head(10).reset_index()
df1

        Date Ticker    Open    High     Low   Close       Volume
0 2025-04-01   AAPL  219.81  223.68  218.90  223.19   36412700.0
1 2025-04-02   AAPL  221.32  225.19  221.02  223.89   35905900.0
2 2025-04-03   AAPL  205.54  207.49  201.25  203.19  103419000.0
3 2025-04-04   AAPL  193.64  199.62  187.09  188.13  125910900.0
4 2025-04-07   AAPL  176.97  193.90  174.39  181.22  160466300.0
5 2025-04-08   AAPL  186.46  190.09  168.99  172.19  120859500.0
6 2025-04-09   AAPL  171.72  200.35  171.66  198.59  184395900.0
7 2025-04-10   AAPL  188.82  194.52  182.76  190.17  121880000.0
8 2025-04-11   AAPL  185.86  199.28  185.82  197.89   87435900.0
9 2025-04-14   AAPL  211.16  212.66  200.90  202.25  101352900.0

In [6]:
df1.columns = [col.lower() for col in df1.columns]
df1

        date ticker    open    high     low   close       volume
0 2025-04-01   AAPL  219.81  223.68  218.90  223.19   36412700.0
1 2025-04-02   AAPL  221.32  225.19  221.02  223.89   35905900.0
2 2025-04-03   AAPL  205.54  207.49  201.25  203.19  103419000.0
3 2025-04-04   AAPL  193.64  199.62  187.09  188.13  125910900.0
4 2025-04-07   AAPL  176.97  193.90  174.39  181.22  160466300.0
5 2025-04-08   AAPL  186.46  190.09  168.99  172.19  120859500.0
6 2025-04-09   AAPL  171.72  200.35  171.66  198.59  184395900.0
7 2025-04-10   AAPL  188.82  194.52  182.76  190.17  121880000.0
8 2025-04-11   AAPL  185.86  199.28  185.82  197.89   87435900.0
9 2025-04-14   AAPL  211.16  212.66  200.90  202.25  101352900.0

In [7]:
df1["entry_signal"] = [
    "wait",
    "buy",
    "buy",
    "wait",
    "wait",
    "buy",
    "wait",
    "wait",
    "wait",
    "buy",
]
df1["exit_signal"] = [
    "sell",
    "wait",
    "wait",
    "wait",
    "sell",
    "wait",
    "wait",
    "sell",
    "wait",
    "wait",
]
df1

,date,ticker,open,high,low,close,volume,entry_signal,exit_signal
0,2025-04-01,AAPL,219.81,223.68,218.90,223.19,36412700.0,wait,sell
1,2025-04-02,AAPL,221.32,225.19,221.02,223.89,35905900.0,buy,wait
2,2025-04-03,AAPL,205.54,207.49,201.25,203.19,103419000.0,buy,wait
3,2025-04-04,AAPL,193.64,199.62,187.09,188.13,125910900.0,wait,wait
4,2025-04-07,AAPL,176.97,193.90,174.39,181.22,160466300.0,wait,sell
5,2025-04-08,AAPL,186.46,190.09,168.99,172.19,120859500.0,buy,wait
6,2025-04-09,AAPL,171.72,200.35,171.66,198.59,184395900.0,wait,wait
7,2025-04-10,AAPL,188.82,194.52,182.76,190.17,121880000.0,wait,sell
8,2025-04-11,AAPL,185.86,199.28,185.82,197.89,87435900.0,wait,wait
9,2025-04-14,AAPL,211.16,212.66,200.90,202.25,101352900.0,buy,wait

In [8]:
df1.loc[df1["entry_signal"] == df1["exit_signal"], :]

,date,ticker,open,high,low,close,volume,entry_signal,exit_signal
3,2025-04-04,AAPL,193.64,199.62,187.09,188.13,125910900.0,wait,wait
6,2025-04-09,AAPL,171.72,200.35,171.66,198.59,184395900.0,wait,wait
8,2025-04-11,AAPL,185.86,199.28,185.82,197.89,87435900.0,wait,wait

In [10]:
df1.to_parquet("../tests/data/sample_gen_trades.parquet", index=False)

temp = pd.read_parquet("../tests/data/sample_gen_trades.parquet")
temp

,date,ticker,open,high,low,close,volume,entry_signal,exit_signal
0,2025-04-01,AAPL,219.81,223.68,218.90,223.19,36412700.0,wait,sell
1,2025-04-02,AAPL,221.32,225.19,221.02,223.89,35905900.0,buy,wait
2,2025-04-03,AAPL,205.54,207.49,201.25,203.19,103419000.0,buy,wait
3,2025-04-04,AAPL,193.64,199.62,187.09,188.13,125910900.0,wait,wait
4,2025-04-07,AAPL,176.97,193.90,174.39,181.22,160466300.0,wait,sell
5,2025-04-08,AAPL,186.46,190.09,168.99,172.19,120859500.0,buy,wait
6,2025-04-09,AAPL,171.72,200.35,171.66,198.59,184395900.0,wait,wait
7,2025-04-10,AAPL,188.82,194.52,182.76,190.17,121880000.0,wait,sell
8,2025-04-11,AAPL,185.86,199.28,185.82,197.89,87435900.0,wait,wait
9,2025-04-14,AAPL,211.16,212.66,200.90,202.25,101352900.0,buy,wait

In [22]:
a = df1.loc[df1["entry_signal"] == "buy", "close"]
av_price = round(a.iloc[:-1].mean(), 2)
av_price

np.float64(199.76)

In [24]:
a

1    223.89
2    203.19
5    172.19
9    202.25
Name: close, dtype: float64

In [23]:
av_price * (0.95)

np.float64(189.772)

In [11]:
all(isinstance(dt, datetime) for dt in temp["date"])

True

In [2]:
temp = pd.read_parquet("../tests/data/sample_gen_trades.parquet")
temp

,date,ticker,open,high,low,close,volume,entry_signal,exit_signal
0,2025-04-01,AAPL,219.81,223.68,218.90,223.19,36412700.0,wait,sell
1,2025-04-02,AAPL,221.32,225.19,221.02,223.89,35905900.0,buy,wait
2,2025-04-03,AAPL,205.54,207.49,201.25,203.19,103419000.0,buy,wait
3,2025-04-04,AAPL,193.64,199.62,187.09,188.13,125910900.0,wait,wait
4,2025-04-07,AAPL,176.97,193.90,174.39,181.22,160466300.0,wait,sell
5,2025-04-08,AAPL,186.46,190.09,168.99,172.19,120859500.0,buy,wait
6,2025-04-09,AAPL,171.72,200.35,171.66,198.59,184395900.0,wait,wait
7,2025-04-10,AAPL,188.82,194.52,182.76,190.17,121880000.0,wait,sell
8,2025-04-11,AAPL,185.86,199.28,185.82,197.89,87435900.0,wait,wait
9,2025-04-14,AAPL,211.16,212.66,200.90,202.25,101352900.0,buy,wait

In [4]:
df.loc["2025-04-08", :]

Ticker           AAPL
Open           186.46
High           190.09
Low            168.99
Close          172.19
Volume    120859500.0
Name: 2025-04-08 00:00:00, dtype: object