In [10]:
import pandas as pd
from datetime import datetime
from datetime import datetime

from strat_backtest.base.gen_trades import GenTrades, TradingConfig, RiskConfig

In [11]:
class TestGenTrades(GenTrades):
    def gen_trades(self, df_signals):
        return pd.DataFrame(), pd.DataFrame()


trading_cfg = TradingConfig(
    entry_struct="MultiEntry",
    exit_struct="FIFOExit",
    num_lots=10,
    monitor_close=True,
)

risk_cfg = RiskConfig(
    percent_loss=0.05,
    stop_method="no_stop",
    trail_method="no_trail",
    step=None,
)

test = TestGenTrades(trading_cfg, risk_cfg)
test.__dict__.keys()

dict_keys(['entry_struct', 'exit_struct', 'num_lots', 'monitor_close', 'percent_loss', 'stop_method', 'trail_method', 'trigger_trail', 'step', 'module_paths', 'req_cols', 'open_trades', 'stop_info_list', 'trail_info_list', 'stop_loss_inst', 'trail_profit_inst'])

In [14]:
getattr(test, "entry_struct")

'MultiEntry'

In [15]:
setattr(test, "entry_struct", "SingleEntry")

In [16]:
getattr(test, "entry_struct")

'SingleEntry'

In [28]:
vars(test)

{'entry_struct': 'SingleEntry',
 'exit_struct': 'FIFOExit',
 'num_lots': 10,
 'monitor_close': True,
 'percent_loss': 0.05,
 'stop_method': 'no_stop',
 'trail_method': 'no_trail',
 'trigger_trail': Decimal('0.2'),
 'step': None,
 'module_paths': {'LIFOExit': 'strat_backtest.exit_method.lifo_exit',
  'FIFOExit': 'strat_backtest.exit_method.fifo_exit',
  'TakeAllExit': 'strat_backtest.exit_method.take_all_exit',
  'HalfFIFOExit': 'strat_backtest.exit_method.half_fifo_exit',
  'HalfLIFOExit': 'strat_backtest.exit_method.half_lifo_exit',
  'FirstTrail': 'strat_backtest.trail_method.first_trail',
  'SingleEntry': 'strat_backtest.entry_method.single_entry',
  'MultiEntry': 'strat_backtest.entry_method.multi_entry',
  'MultiHalfEntry': 'strat_backtest.entry_method.multi_half_entry',
  'LatestLoss': 'strat_backtest.stop_method.latest_loss',
  'NearestLoss': 'strat_backtest.stop_method.nearest_loss',
  'PercentLoss': 'strat_backtest.stop_method.percent_loss'},
 'req_cols': ['date', 'high', 'low', 'close', 'entry_signal', 'exit_signal'],
 'open_trades': deque([]),
 'stop_info_list': [],
 'trail_info_list': [],
 'stop_loss_inst': None,
 'trail_profit_inst': None}

In [29]:
def create_inst(trading_cfg, risk_cfg, **kwargs) -> GenTrades:
    gen_trades = TestGenTrades(trading_cfg, risk_cfg)

    for field, attribute in kwargs.items():
        if field in vars(gen_trades):
            setattr(gen_trades, field, attribute)

    return gen_trades

In [30]:
a = create_inst(trading_cfg, risk_cfg)
a.entry_struct

'MultiEntry'

In [31]:
b = create_inst(
    trading_cfg, risk_cfg, entry_struct="MultiHalfEntry", stop_method="PercentLoss"
)
b.entry_struct

'MultiHalfEntry'

In [26]:
b.stop_method

'PercentLoss'

In [27]:
a.stop_method

'no_stop'

In [3]:
df.loc["2025-03-01":, :]

           Ticker    Open    High     Low   Close     Volume
Date
2025-03-03   AAPL  241.79  244.03  236.11  238.03   47184000
2025-03-04   AAPL  237.71  240.07  234.68  235.93   53798100
2025-03-05   AAPL  235.42  236.55  229.23  235.74   47227600
2025-03-06   AAPL  234.44  237.86  233.16  235.33   45170400
2025-03-07   AAPL  235.11  241.37  234.76  239.07   46273600
2025-03-10   AAPL  235.54  236.16  224.22  227.48   72071200
2025-03-11   AAPL  223.81  225.84  217.45  220.84   76137400
2025-03-12   AAPL  220.14  221.75  214.91  216.98   62547500
2025-03-13   AAPL  215.95  216.84  208.42  209.68   61368300
2025-03-14   AAPL  211.25  213.95  209.58  213.49   60107600
2025-03-17   AAPL  213.31  215.22  209.97  214.00   48073400
2025-03-18   AAPL  214.16  215.15  211.49  212.69   42432400
2025-03-19   AAPL  214.22  218.76  213.75  215.24   54385400
2025-03-20   AAPL  213.99  217.49  212.22  214.10   48862900
2025-03-21   AAPL  211.56  218.84  211.28  218.27   94127800
2025-03-24   AAPL  221.00  221.48  218.58  220.73   44299500
2025-03-25   AAPL  220.77  224.10  220.08  223.75   34493600
2025-03-26   AAPL  223.51  225.02  220.47  221.53   34532700
2025-03-27   AAPL  221.39  224.99  220.56  223.85   37094800
2025-03-28   AAPL  221.67  223.81  217.68  217.90   39818600
2025-03-31   AAPL  217.01  225.62  216.23  222.13   65299300
2025-04-01   AAPL  219.81  223.68  218.90  223.19   36412700
2025-04-02   AAPL  221.32  225.19  221.02  223.89   35905900
2025-04-03   AAPL  205.54  207.49  201.25  203.19  103419000
2025-04-04   AAPL  193.89  199.88  187.34  188.38  125910900
2025-04-07   AAPL  177.20  194.15  174.62  181.46  160466300
2025-04-08   AAPL  186.70  190.34  169.21  172.42  120859500
2025-04-09   AAPL  171.95  200.61  171.89  198.85  184395900
2025-04-10   AAPL  189.07  194.78  183.00  190.42  121880000
2025-04-11   AAPL  186.10  199.54  186.06  198.15   87435900
2025-04-14   AAPL  211.44  212.94  201.16  202.52  101352900
2025-04-15   AAPL  201.86  203.51  199.80  202.14   51343900
2025-04-16   AAPL  198.36  200.70  192.37  194.27   59732400
2025-04-17   AAPL  197.20  198.83  194.42  196.98   51334300
2025-04-21   AAPL  193.27  193.80  189.81  193.16   46742500
2025-04-22   AAPL  196.12  201.59  195.97  199.74   52976400
2025-04-23   AAPL  206.00  208.00  202.80  204.60   52863100

In [11]:
a = {"a": 1, "b": 2}

b = a.copy()
b

{'a': 1, 'b': 2}

In [8]:
from decimal import Decimal

ent = Decimal("223.75")
ex = Decimal("217.9")

profit = ex - ent
percent_ret = (ex - ent) / ent
daily_ret = (1 + percent_ret) ** (1 / Decimal("3")) - 1
daily_ret

Decimal('-0.0087921593135867632092743166')

In [9]:
percent_ret

Decimal('-0.02614525139664804469273743017')

In [41]:
df1 = df.loc["2025-04-01":, :].head(10).reset_index()
df1

        Date Ticker    Open    High     Low   Close     Volume
0 2025-04-01   AAPL  219.81  223.68  218.90  223.19   36412700
1 2025-04-02   AAPL  221.32  225.19  221.02  223.89   35905900
2 2025-04-03   AAPL  205.54  207.49  201.25  203.19  103419000
3 2025-04-04   AAPL  193.89  199.88  187.34  188.38  125910900
4 2025-04-07   AAPL  177.20  194.15  174.62  181.46  160466300
5 2025-04-08   AAPL  186.70  190.34  169.21  172.42  120859500
6 2025-04-09   AAPL  171.95  200.61  171.89  198.85  184395900
7 2025-04-10   AAPL  189.07  194.78  183.00  190.42  121880000
8 2025-04-11   AAPL  186.10  199.54  186.06  198.15   87435900
9 2025-04-14   AAPL  211.44  212.94  201.16  202.52  101352900

In [6]:
df1.columns = [col.lower() for col in df1.columns]
df1

        date ticker    open    high     low   close     volume
0 2025-04-01   AAPL  219.81  223.68  218.90  223.19   36412700
1 2025-04-02   AAPL  221.32  225.19  221.02  223.89   35905900
2 2025-04-03   AAPL  205.54  207.49  201.25  203.19  103419000
3 2025-04-04   AAPL  193.89  199.88  187.34  188.38  125910900
4 2025-04-07   AAPL  177.20  194.15  174.62  181.46  160466300
5 2025-04-08   AAPL  186.70  190.34  169.21  172.42  120859500
6 2025-04-09   AAPL  171.95  200.61  171.89  198.85  184395900
7 2025-04-10   AAPL  189.07  194.78  183.00  190.42  121880000
8 2025-04-11   AAPL  186.10  199.54  186.06  198.15   87435900
9 2025-04-14   AAPL  211.44  212.94  201.16  202.52  101352900

In [7]:
df1["entry_signal"] = [
    "wait",
    "buy",
    "buy",
    "wait",
    "wait",
    "buy",
    "wait",
    "wait",
    "wait",
    "buy",
]
df1["exit_signal"] = [
    "sell",
    "wait",
    "wait",
    "wait",
    "sell",
    "wait",
    "wait",
    "sell",
    "wait",
    "wait",
]
df1

,date,ticker,open,high,low,close,volume,entry_signal,exit_signal
0,2025-04-01,AAPL,219.81,223.68,218.90,223.19,36412700,wait,sell
1,2025-04-02,AAPL,221.32,225.19,221.02,223.89,35905900,buy,wait
2,2025-04-03,AAPL,205.54,207.49,201.25,203.19,103419000,buy,wait
3,2025-04-04,AAPL,193.89,199.88,187.34,188.38,125910900,wait,wait
4,2025-04-07,AAPL,177.20,194.15,174.62,181.46,160466300,wait,sell
5,2025-04-08,AAPL,186.70,190.34,169.21,172.42,120859500,buy,wait
6,2025-04-09,AAPL,171.95,200.61,171.89,198.85,184395900,wait,wait
7,2025-04-10,AAPL,189.07,194.78,183.00,190.42,121880000,wait,sell
8,2025-04-11,AAPL,186.10,199.54,186.06,198.15,87435900,wait,wait
9,2025-04-14,AAPL,211.44,212.94,201.16,202.52,101352900,buy,wait

In [31]:
df1.loc[df1["entry_signal"] == df1["exit_signal"], :]

,date,ticker,open,high,low,close,volume,entry_signal,exit_signal
3,2025-04-04,AAPL,193.89,199.88,187.34,188.38,125910900,wait,wait
6,2025-04-09,AAPL,171.95,200.61,171.89,198.85,184395900,wait,wait
8,2025-04-11,AAPL,186.10,199.54,186.06,198.15,87435900,wait,wait

In [ ]:
df1.to_parquet("../tests/data/sample_gen_trades.parquet", index=False)

temp = pd.read_parquet("../tests/data/sample_gen_trades.parquet")
temp

In [14]:
all(isinstance(dt, datetime) for dt in temp["date"])

True

In [34]:
temp = pd.read_parquet("../tests/data/sample_gen_trades.parquet")
temp

        date ticker    open    high  ...   close     volume  entry_signal exit_signal
0 2025-04-01   AAPL  219.81  223.68  ...  223.19   36412700          wait        sell
1 2025-04-02   AAPL  221.32  225.19  ...  223.89   35905900           buy        wait
2 2025-04-03   AAPL  205.54  207.49  ...  203.19  103419000           buy        wait
3 2025-04-04   AAPL  193.89  199.88  ...  188.38  125910900          wait        wait
4 2025-04-07   AAPL  177.20  194.15  ...  181.46  160466300          wait        sell
5 2025-04-08   AAPL  186.70  190.34  ...  172.42  120859500           buy        wait
6 2025-04-09   AAPL  171.95  200.61  ...  198.85  184395900          wait        wait
7 2025-04-10   AAPL  189.07  194.78  ...  190.42  121880000          wait        sell
8 2025-04-11   AAPL  186.10  199.54  ...  198.15   87435900          wait        wait
9 2025-04-14   AAPL  211.44  212.94  ...  202.52  101352900           buy        wait

[10 rows x 9 columns]

In [39]:
a = temp.at[0, "date"]
a.to_pydatetime()

datetime.datetime(2025, 4, 1, 0, 0)

In [31]:
datetime(2025, 4, 2, tzinfo=None)

datetime.datetime(2025, 4, 2, 0, 0)

In [32]:
from zoneinfo import ZoneInfo

datetime(2025, 4, 2, tzinfo=ZoneInfo("America/New_York"))

datetime.datetime(2025, 4, 2, 0, 0, tzinfo=zoneinfo.ZoneInfo(key='America/New_York'))

In [52]:
from strat_backtest.base.stock_trade import StockTrade
from collections import deque

first_trade = StockTrade(
    ticker="AAPL",
    entry_datetime="2025-04-02",
    entry_action="buy",
    entry_lots=10,
    entry_price=223.89,
)

second_trade = StockTrade(
    ticker="AAPL",
    entry_datetime=datetime(2025, 4, 3, tzinfo=None),
    entry_action="buy",
    entry_lots=10,
    entry_price=203.19,
)

deque([first_trade, second_trade])

deque([StockTrade(ticker='AAPL', entry_datetime=datetime.datetime(2025, 4, 2, 0, 0), entry_action='buy', entry_lots=Decimal('10'), entry_price=Decimal('223.89'), exit_datetime=None, exit_action=None, exit_lots=Decimal('0'), exit_price=None, days_held=None, profit_loss=None, percent_ret=None, daily_ret=None, win=None),
       StockTrade(ticker='AAPL', entry_datetime=datetime.datetime(2025, 4, 3, 0, 0), entry_action='buy', entry_lots=Decimal('10'), entry_price=Decimal('203.19'), exit_datetime=None, exit_action=None, exit_lots=Decimal('0'), exit_price=None, days_held=None, profit_loss=None, percent_ret=None, daily_ret=None, win=None)])

In [ ]:
from strat_backtest.utils.constants import (
    EntryMethod,
    ExitMethod,
    TrailMethod,
    StopMethod,
)

{val.value: f"strat_backtest.exit_method.{val.value}" for val in ExitMethod}

{'FIFOExit': 'strat_backtest.exit_method.FIFOExit',
 'LIFOExit': 'strat_backtest.exit_method.LIFOExit',
 'HalfFIFOExit': 'strat_backtest.exit_method.HalfFIFOExit',
 'HalfLIFOExit': 'strat_backtest.exit_method.HalfLIFOExit',
 'TakeAllExit': 'strat_backtest.exit_method.TakeAllExit'}

In [67]:
a = "half_fifo_exit"
"".join(val.upper() if val in {"fifo", "lifo"} else val.title() for val in a.split("_"))

'HalfFIFOExit'

In [74]:
from pathlib import Path

a = Path("~/Documents/strat_backtest/src/strat_backtest/exit_method/half_fifo_exit.py")
a

PosixPath('~/Documents/strat_backtest/src/strat_backtest/exit_method/half_fifo_exit.py')

In [81]:
main_pkg = "strat_backtest"

a.parts[::-1].index(main_pkg)

2

In [87]:
b = []
for part in a.parts[::-1]:
    b.append(part)

    if part == main_pkg:
        break

b[::-1]

['strat_backtest', 'exit_method', 'half_fifo_exit.py']

In [4]:
from pathlib import Path

# for rel_path in Path("../src/strat_backtest").iterdir():
#     if rel_path.is_dir():

dir_paths = [
    rel_path
    for rel_path in Path("../src/strat_backtest").iterdir()
    if rel_path.is_dir() and rel_path.name not in {"base", "utils", "__pycache__"}
]
dir_paths

[PosixPath('../src/strat_backtest/exit_method'),
 PosixPath('../src/strat_backtest/trail_method'),
 PosixPath('../src/strat_backtest/entry_method'),
 PosixPath('../src/strat_backtest/stop_method')]

In [12]:
mapping = {}
main_pkg = "strat_backtest"

for folder in dir_paths:
    for file_path in folder.glob("*.py"):
        file_name = file_path.stem
        folder_name = folder.stem

        class_name = "".join(
            part.upper() if part in {"fifo", "lifo"} else part.title()
            for part in file_name.split("_")
        )

        mapping[class_name] = {
            "class_name": class_name,
            "module_path": f"{main_pkg}.{folder_name}.{file_name}",
        }

mapping

{'LIFOExit': {'class_name': 'LIFOExit',
  'module_path': 'strat_backtest.exit_method.lifo_exit'},
 'FIFOExit': {'class_name': 'FIFOExit',
  'module_path': 'strat_backtest.exit_method.fifo_exit'},
 'TakeAllExit': {'class_name': 'TakeAllExit',
  'module_path': 'strat_backtest.exit_method.take_all_exit'},
 'HalfFIFOExit': {'class_name': 'HalfFIFOExit',
  'module_path': 'strat_backtest.exit_method.half_fifo_exit'},
 'HalfLIFOExit': {'class_name': 'HalfLIFOExit',
  'module_path': 'strat_backtest.exit_method.half_lifo_exit'},
 'Init': {'class_name': 'Init',
  'module_path': 'strat_backtest.stop_method.__init__'},
 'FirstTrail': {'class_name': 'FirstTrail',
  'module_path': 'strat_backtest.trail_method.first_trail'},
 'SingleEntry': {'class_name': 'SingleEntry',
  'module_path': 'strat_backtest.entry_method.single_entry'},
 'MultiEntry': {'class_name': 'MultiEntry',
  'module_path': 'strat_backtest.entry_method.multi_entry'},
 'MultiHalfEntry': {'class_name': 'MultiHalfEntry',
  'module_path': 'strat_backtest.entry_method.multi_half_entry'},
 'LatestLoss': {'class_name': 'LatestLoss',
  'module_path': 'strat_backtest.stop_method.latest_loss'},
 'NearestLoss': {'class_name': 'NearestLoss',
  'module_path': 'strat_backtest.stop_method.nearest_loss'},
 'PercentLoss': {'class_name': 'PercentLoss',
  'module_path': 'strat_backtest.stop_method.percent_loss'}}